<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">week</th>
      <th scope="col">今週</th>
      <th scope="col">前週</th>
      <th scope="col">前週比</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row"></th>
      <td>75件</td>
      <td>5件</td>
      <td>1050%</td>
    </tr>
  </tbody>
</table>