<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">day</th>
      <th scope="col">本日</th>
      <th scope="col">前日</th>
      <th scope="col">前日比</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row"></th>
      <td>
         <%= book_today.count %>件
      </td>
      <td>
         <%= book_yesterday.count %>件
      </td>
      <td>
        <% if book_yesterday.count == 0 %>
          <%= (book_today.count * 100) %>%
        <% else %>
          <% @day_before = book_today.count / book_yesterday.count.to_f %>
          <%= (@day_before * 100).round %>%
        <% end %>
      </td>
    </tr>
  </tbody>
</table>